{{>header}}
<div class="about-container">
  <img class='portrait' src='/images/self_portrait.jpg' />
  <div class='content'>
    {{{data.body}}}
  </div>
</div>
<link href="/styles/about.css" rel="stylesheet" />
