{{>header}}
<div class="post-container">
  <p><a href="/{{section}}">&larr; back to the blog</a></p>
  <article>
    <div class="comic">
      <img class="comic-image" src="{{{cloudinaryUrl data.image }}}">
      <div class="comic-caption">{{{data.image.caption}}}</div>
    </div>
    {{{comicPagination pagination}}}
  </article>
</div>
<link href="/styles/comic.css" rel="stylesheet" />
