<div class="home-container">
  <div class="menu">
    <a href='/about' class="menu-item about">
      <p>About</p>
    </a>
    <a href='/illustration' class="menu-item illustration">
      <p>Illustrations</p>
    </a>
    <a href='/comics' class="menu-item comics">
      <p>Comics</p>
    </a>
    <a href='/collabs' class="menu-item collabs">
      <p>Collaborations</p>
    </a>
    <a href='/paperwork' class="menu-item paperwork">
      <p>Paperwork</p>
    </a>
    <a href='/contact' class="menu-item contact">
      <p>Contact</p>
    </a>
  </div>
</div>
