<link href='/styles/homepage.css' rel='stylesheet' />
<div class='home-container'>
  <div class='menu'>
    <img class='name' src='/images/name.png' />
    <a href='/about' class='menu-item about'>
      <span>
        About
      </span>
    </a>
    <a href='/illustrations' class='menu-item illustrations'>
      <span>
        Illustrations
      </span>
    </a>
    <a href='/collaborations' class='menu-item collaborations'>
      <span>
        Collaborations
      </span>
    </a>
    <a href='/comics' class='menu-item comics'>
      <span>
        Comics
      </span>
    </a>
    <a href='/paperwork' class='menu-item paperwork'>
      <span>
        Paperwork
      </span>
    </a>
    <a href='/contact' class='menu-item contact'>
      <span>
        Contact
      </span>
    </a>
  </div>
</div>