<div class="home-container">

  <div class="menu">
    <img class='name' src='/images/name.png' />
    <a href='/about' class="menu-item about">
      <span>About</span>
    </a>
    <a href='/illustration' class="menu-item illustration">
      <span>Illustrations</span>
    </a>
    <a href='/collabs' class="menu-item collabs">
      <span>Collaborations</span>
    </a>
    <a href='/comics' class="menu-item comics">
      <span>Comics</span>
    </a>
    <a href='/paperwork' class="menu-item paperwork">
      <span>Paperwork</span>
    </a>
    <a href='/contact' class="menu-item contact">
      <span>Contact</span>
    </a>
  </div>
</div>
