{{>header}}
<div class="post-container">
  <article>
    <p><a href="/{{section}}">&larr; back to the blog</a></p>
    <div class="post">
      {{# each data.post.images as |image|}}
        <img src="{{{cloudinaryUrl image width=750 height=450 crop='fit' }}}">
        <p>{{{image.caption}}}</p>
        {{/each}}
        {{{data.post.content}}}
    </div>
  </article>
</div>
<link href="/styles/post.css" rel="stylesheet" />

