<div class="header">
  <div class="mini-menu">
    <svg xmlns="http://www.w3.org/2000/svg" height="50" width="50" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink">
      <polygon points="25,0 47,12 47,38 25,50 3,38 3,12"></polygon>
    </svg>
    <ul class="menu-items">
      {{# each navLinks}}
        {{#ifeq ../section key}}
        {{else}}
          <li class="menu-item {{key}}">
            <a href="{{ href }}">{{ label }}</a>
          </li>
        {{/ifeq}}
      {{/each}}
    </ul>
  </div>
</div>
