<ul class="pagination">
  <li {{#unless data.posts.previous}} class="disabled" disabled {{/unless}}>
    <a href="{{paginationPreviousUrl data.posts.previous}}">
			<span class="chevron-left">&laquo;</span>
		</a>
  </li>
  {{{paginationNavigation data.posts.pages data.posts.currentPage data.posts.totalPages}}}
  <li {{#unless data.posts.next}} class="disabled" disabled {{/unless}}>
    <a href="{{paginationNextUrl data.posts.next data.posts.totalPages}}">
			<span class="chevron-right">&raquo;</span>
		</a>
  </li>
</ul>
<link href="/styles/pagination.css" rel="stylesheet" />
