@import "../../../node_modules/open-color/open-color.scss";

@import "../variables/variables";

.comic {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;

  .comic-image {
    max-width: 100rem;
    width: 100%;
  }
  .comic-caption {
    font-family: $font-poppins;
    font-size: 1.4rem;
    margin: 2rem;
  }
}

.comic-pagination {
  display: flex;
  flex-flow: row nowrap;
  font-family: $font-poppins;
  justify-content: space-evenly;
  margin: 0 10rem;
  padding: 0;
  width: 100%;

  li {
    display: inline;
    font-size: 5rem;
    list-style: none;
    padding: 0 1rem;

    a {
      color: $oc-gray-7;
      text-decoration: none;
      transition: color 0.4s $material-animation;
      &:hover {
        color: $oc-gray-9;
      }
    }

    &.page-num {
      align-self: center;
      font-size: 2.2rem;
    }

    &.disabled {
      cursor: not-allowed;

      a {
        color: $oc-gray-3;
        pointer-events: none;
        text-decoration: none;
      }
    }
  }
}
