@import "../../../node_modules/open-color/open-color.scss";

@import "../variables/variables";

.contact-container {
  font-family: $font-poppins;
  font-size: 1.8rem;
  margin: 2rem;
  .contact-form {
    margin: 0 auto;
    max-width: 100rem;

    .inputs {
      display: grid;
      font-size: 1.2rem;
      grid-auto-rows: minmax(3rem, max-content);
      grid-gap: 2rem;
      grid-template-columns: 15rem auto;

      & input,
      & textarea {
        border: 0.1rem solid $oc-gray-3;
        border-radius: 0.4rem;
        font-size: 1.6rem;
        padding: 0.5rem;

        &:active,
        &:focus {
          border-color: $oc-blue-6;
          box-shadow: 0 0 0.5rem $oc-blue-4;
        }
      }

      & textarea {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.4rem;
        resize: vertical;
      }
    }
    button {
      background: transparent;
      border: 0.1rem solid $oc-blue-5;
      border-radius: 0.5rem;
      color: $oc-blue-5;
      float: right;
      font-size: 1.6rem;
      height: 3rem;
      margin: 2rem 0;
      transition: all 0.5s $material-animation;
      width: 15rem;

      &:hover {
        background: $oc-blue-5;
        color: white;
        cursor: pointer;
      }

      &:active {
        background: $oc-blue-9;
        border-color: $oc-blue-9;
      }
    }
  }
}
