.page-contents {
  margin: 0 auto;

  .blog {
    margin: 0 auto;

    .post {
      margin: 15px;
      width: 375px;

      & img {
        height: auto;
        width: 100%;
      }

      .post-info {
        position: absolute;
      }
    }
  }
}
