.header {
  font-family: $font-poppins;
  position: relative;
  text-transform: uppercase;

  .mini-menu {
    fill: orange;
    position: fixed;
    right: 2rem;
    top: 2rem;
    z-index: 2;

    &:hover {
      .menu-items {
        opacity: 1;
      }
    }

    .menu-items {
      background-color: white;
      font-size: 2rem;
      list-style: none;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 1s $material-animation;

      &:hover {
        opacity: 1;
      }

      & .menu-item {
        border-bottom: 0;
        display: flex;
        min-width: 15rem;

        a {
          background: transparent;
          color: black;
          flex: 1;
          padding: 1rem;
          text-align: right;
          text-decoration: none;
        }

        &.home:hover {
          background: orange;
        }

        &.about:hover {
          background: blue;
        }

        &.collabs:hover {
          background: green;
        }

        &.illustration:hover {
          background: purple;
        }

        &.comics:hover {
          background: orange;
        }

        &.paperwork:hover {
          background: orchid;
        }

        &.contact:hover {
          background: orangered;
        }
      }
    }
  }
}
