#header {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;

  .mini-menu {
    fill: orange;
    position: fixed;
    right: 20px;
    top: 20px;

    &:hover {
      .menu-items {
        opacity: 1;
      }
    }

    .menu-items {
      list-style: none;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        opacity: 1;
      }

      & .menu-item {
        border-bottom: 0;
        display: flex;
        min-height: 40px;
        min-width: 150px;
        font-size: 1.3em;

        a {
          background: transparent;
          color: black;
          flex: 1;
          padding: 10px;
          text-align: right;
          text-decoration: none;
        }

        &.home:hover {
          background: orange;
        }

        &.about:hover {
          background: blue;
        }

        &.collabs:hover {
          background: green;
        }

        &.illustration:hover {
          background: purple;
        }

        &.comics:hover {
          background: orange;
        }

        &.paperwork:hover {
          background: orchid;
        }

        &.contact:hover {
          background: orangered;
        }
      }
    }
  }
}
