@import "../variables/open-color";

@import "../variables/variables";

.home-container {
  display: flex;
  font-family: $font-poppins;

  .menu {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    position: relative;

    &::before {
      background: url("/images/mums_pattern.gif") no-repeat center center;
      content: '';
      display: inline-block;
      height: 100vh;
      position: absolute;
      width: 100vw;
    }
    .name {
      align-self: center;
      max-width: 95vw;
      position: relative;
    }

    .menu-item {
      align-items: center;
      color: $oc-gray-9;
      display: flex;
      flex: 1;
      font-size: 3.8rem;
      justify-content: center;
      position: relative;
      text-decoration: none;
      text-shadow: 0 0 0.5rem white, 0 0 0.5rem white, 0 0 0.5rem white;
      text-transform: uppercase;

      & span {
        position: relative;
        transition: text-shadow 1s $material-animation;
      }

      &::before {
        background-position: center center;
        background-repeat: repeat;
        background-size: 40%;
        bottom: 0;
        content: '';
        display: inline-block;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity 1s $material-animation;
      }

      &:hover {
        &::before {
          opacity: 1;
        }
        & span {
          text-shadow: 0 0 0.5rem white, 0 0 0.5rem white, 0 0 0.5rem white, 0 0 0.5rem white, 0 0 0.5rem white;
        }
      }

      &.about {
        &::before {
          background-image: url("/images/mums.gif");
        }
      }

      &.illustrations {
        &::before {
          background-image: url("/images/woven_pattern.gif");
        }
      }
    }
  }

  @media (min-width: 600px) {
    min-height: 80rem;
    min-width: 40rem;
    align-items: center;
    justify-content: center;

    .menu {
      height: 60rem;
      width: 60rem;
      align-items: center;
      justify-content: center;

      &::before {
        background: url("/images/mums_pattern.gif") no-repeat center -5rem/120%;
        clip-path: url(#hex);
        -webkit-clip-path: url(#hex);
        height: 60rem;
        position: absolute;
        width: 60rem;
      }

      .name {
        position: relative;
        width: 50rem;
        flex: 0 0;
      }

      .menu-item {
        height: 15rem;
        position: absolute;
        width: 15rem;
        font-size: 1.8rem;

        &::before {
          clip-path: url(#hex);
          -webkit-clip-path: url(#hex);
          height: 15rem;
          opacity: 0;
          position: absolute;
          width: 15rem;
          background-repeat: no-repeat;
          background-size: cover;
        }

        &.about {
          left: 22.5rem;
          top: -7.5rem;
        }

        &.illustrations {
          right: -3.5rem;
          top: 7.6rem;
        }

        &.collaborations {
          bottom: 7.6rem;
          right: -3.5rem;
        }

        &.comics {
          bottom: -7.5rem;
          left: 22.5rem;
        }

        &.paperwork {
          bottom: 7.6rem;
          left: -3.5rem;
        }

        &.contact {
          left: -3.5rem;
          top: 7.6rem;
        }
      }
    }
  }
}
