body,
html {
  margin: 0;
  padding: 0;

  .home-container {
    display: flex;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    min-height: 800px;
    min-width: 900px;
    place-content: center;
    place-items: center;

    .menu {
      display: flex;
      height: 600px;
      place-content: center;
      place-items: center;
      position: relative;
      width: 600px;

      &::before {
        background: url("/images/mums_pattern.gif") no-repeat center -50px/120%;
        -webkit-clip-path: polygon(300px 0, 560px 151px, 560px 451px, 300px 600px, 40px 451px, 40px 151px);
        clip-path: polygon(300px 0, 560px 151px, 560px 451px, 300px 600px, 40px 451px, 40px 151px);
        content: '';
        display: inline-block;
        height: 600px;
        position: absolute;
        width: 600px;
      }
    }

    .name {
      position: relative;
      width: 500px;
    }

    .menu-item {
      color: black;
      display: flex;
      flex: 0 0;
      font-size: 1.15em;
      height: 150px;
      place-content: center;
      place-items: center;
      position: absolute;
      text-decoration: none;
      text-transform: uppercase;
      width: 150px;

      & span {
        position: absolute;
        transition: text-shadow 1s cubic-bezier(0.4, 0, 0.2, 1);
      }

      &::before {
        clip-path: polygon(75px 0, 140px 37px, 140px 113px, 75px 150px, 10px 113px, 10px 37px);
        -webkit-clip-path: polygon(75px 0, 140px 37px, 140px 113px, 75px 150px, 10px 113px, 10px 37px);
        content: '';
        display: inline-block;
        height: 150px;
        opacity: 0;
        position: absolute;
        transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
        width: 150px;
      }

      &:hover {
        color: black;
        &::before {
          opacity: 1;
        }
        & span {
          text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white;
        }
      }

      &.about {
        left: 225px;
        top: -75px;
        &::before {
          background: url("/images/mums.gif") no-repeat center center/cover;
        }
      }

      &.illustration {
        right: -35px;
        top: 76px;
        &::before {
          background: url("/images/woven_pattern.gif") no-repeat center center/cover;
        }
      }

      &.collabs {
        bottom: 76px;
        right: -35px;
      }

      &.comics {
        bottom: -75px;
        left: 225px;
      }

      &.paperwork {
        bottom: 76px;
        left: -35px;
      }

      &.contact {
        left: -35px;
        top: 76px;
      }
    }
  }
}
