@import "../../../node_modules/open-color/open-color.scss";

@import "../variables/variables";

.featherlight {

  .featherlight-content {
    background: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    padding: 0;

    .featherlight-close {
      background: rgba(255, 255, 255, 0.75);
      font-size: 7.5rem;
      font-weight: 100;
      height: 7.5rem;
      position: absolute;
      top: -3rem;
      width: 7.5rem;
      &:hover {
        background: white;
      }
    }

    .lightbox-images {
      display: flex;
      flex-direction: row;
      font-family: sans-serif;
      height: calc(100vh - 5rem);
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100vw;

      .dummy-slide {
        width: 11rem;

        @media (max-width: 60rem) {
          width: 2rem;
        }
      }

      .slide-wrapper {
        display: inline-block;

        .photo {
          border-radius: 0.3rem;
          display: block;
        }

        &.focus-image {
          margin: 0 1rem;

          .content {
            background: rgba(255, 255, 255, 0.8);
            border-radius: 0 0 0.3rem 0.3rem;
            font-size: 1.4rem;
            max-height: 12rem;
            min-width: 100%;
            overflow-x: scroll;
            padding: 0 2rem 2rem;
            width: 0;

            a {
              color: $oc-gray-9;
              font-size: 1rem;
            }
          }

          .photo {
            border-radius: 0.3rem 0.3rem 0 0;
            height: auto;
            max-height: 80vh;
            max-width: calc(100vw - 6rem);
          }
        }

        &.next-image,
        &.prev-image {
          cursor: pointer;
          object-fit: cover;
          opacity: 0.95;
          overflow: hidden;
          position: relative;
          width: 8rem;

          & .photo {
            border-radius: 0 0.3rem 0.3rem 0;
            height: 100%;
            object-fit: cover;
            width: 100%;
          }

          &.next-image {
            .photo {
              object-position: left center;
            }
          }

          &.prev-image {
            .photo {
              object-position: right center;
            }
          }

          @media (max-width: 60rem) {
            width: 4rem;
          }
        }
      }
    }
  }
}
