@import "../variables/open-color";

@import "../variables/variables";

.featherlight {
  .featherlight-content {
    overflow: visible;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;

    .featherlight-close {
      position: absolute;
      height: 7.5rem;
      width: 7.5rem;
      font-size: 7.5rem;
      font-weight: 100;
      top: -3rem;
      background: rgba(255, 255, 255, 0.75);
      &:hover {
        background: white;
      }
    }

    .lightbox-images {
      display: flex;
      flex-direction: row;
      font-family: sans-serif;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100vw;

      .dummy-slide {
        width: 11rem;
      }

      .photo-wrapper {
        display: inline-block;
        margin: 0;
        padding: 0;
        position: relative;

        &.next-image,
        &.prev-image {
          cursor: pointer;
          opacity: 0.95;
          overflow: hidden;
          position: relative;
          width: 11rem;
          .content {
            display: none;
          }
        }

        .photo {
          border-radius: 0.3rem;
          max-height: calc(100vh - 6rem);
          max-width: calc(100vw - 6rem);
        }

        .content {
          background: rgba(255, 255, 255, 0.8);
          border-radius: 0 0 0.3rem;
          bottom: 0.3rem;
          left: 0;
          opacity: 0.2;
          padding: 0 2rem 2rem;
          position: absolute;
          right: 0;
          transition: opacity 0.5s $material-animation;
          font-size: 1.4rem;

          a {
            color: $oc-gray-9;
            font-size: 1rem;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
