@import "../../../node_modules/open-color/open-color.scss";

@import "../variables/variables";

.list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .post {
    margin: 1rem;

    .list-link {
      display: block;
      height: 30rem;
      position: relative;
      width: 46rem;

      .cover-photo {
        border-radius: 0.5rem;
        box-shadow: 0 0 0.3rem grey;
        display: block;
        height: 100%;
        width: 100%;
      }
      .list-card {
        align-items: center;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 0.5rem;
        display: flex;
        flex-flow: column nowrap;
        height: 30rem;
        justify-content: center;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: all 1s $material-animation;
        width: 46rem;

        .content {
          color: $oc-gray-9;
          font-family: $font-poppins;
          font-weight: 100;
          opacity: 0;
          text-align: center;
          transform: translateY(1rem);
          transition: all 0.5s $material-animation 200ms;
        }

        &:hover {
          box-shadow: 0 0 1rem grey;
          opacity: 1;
          .content {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}
