@import "../../../node_modules/open-color/open-color.scss";

@import "../variables/variables";

.pagination {
  display: flex;
  font-family: $font-poppins;
  justify-content: center;

  li {
    display: inline;
    font-size: 2.5rem;
    list-style: none;
    padding: 0 1rem;

    a {
      color: $oc-gray-7;
      text-decoration: none;
      transition: color 0.4s $material-animation;
      &:hover {
        color: $oc-gray-9;
      }
    }
    &.disabled,
    &.active {
      cursor: not-allowed;

      a {
        color: $oc-gray-3;
        pointer-events: none;
        text-decoration: none;
      }
    }
  }
}
