<h1>
  Hi %recipient.firstName%
</h1>
<p class='text-larger'>
  {{email.name.full}}(
  <a href='mailto:{{email.email}}'>
    {{email.email}}
  </a>
  ) sent you a message:
</p>
<blockquote>
  {{{email.message.html}}}
</blockquote>