.header {
  font-family: "Poppins", sans-serif;
  position: relative;
  text-transform: uppercase; }
  .header .mini-menu {
    fill: orange;
    position: fixed;
    right: 2rem;
    top: 2rem;
    z-index: 2; }
    .header .mini-menu:hover .menu-items {
      opacity: 1; }
    .header .mini-menu .menu-items {
      background-color: white;
      font-size: 2rem;
      list-style: none;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1); }
      .header .mini-menu .menu-items:hover {
        opacity: 1; }
      .header .mini-menu .menu-items .menu-item {
        border-bottom: 0;
        display: flex;
        min-width: 15rem; }
        .header .mini-menu .menu-items .menu-item a {
          background: transparent;
          color: black;
          flex: 1;
          padding: 1rem;
          text-align: right;
          text-decoration: none; }
        .header .mini-menu .menu-items .menu-item.home:hover {
          background: orange; }
        .header .mini-menu .menu-items .menu-item.about:hover {
          background: blue; }
        .header .mini-menu .menu-items .menu-item.collabs:hover {
          background: green; }
        .header .mini-menu .menu-items .menu-item.illustration:hover {
          background: purple; }
        .header .mini-menu .menu-items .menu-item.comics:hover {
          background: orange; }
        .header .mini-menu .menu-items .menu-item.paperwork:hover {
          background: orchid; }
        .header .mini-menu .menu-items .menu-item.contact:hover {
          background: orangered; }

.page-contents {
  margin: 0;
  position: relative; }
  .page-contents .lightbox {
    display: none; }
  .page-contents .blog {
    margin: 0 auto;
    position: relative; }
    .page-contents .blog .post {
      background: none;
      border: none;
      cursor: pointer;
      margin: 0;
      padding: 0.2rem 0.3rem; }
      .page-contents .blog .post .post-images {
        display: grid;
        grid-auto-columns: 50%;
        grid-auto-rows: minmax(10rem, min-content);
        grid-gap: 0.2rem; }
        .page-contents .blog .post .post-images > img {
          object-fit: cover;
          width: 100%;
          height: auto; }
        .page-contents .blog .post .post-images > img:first-child {
          grid-column: 1 / 3;
          grid-row: 1 / 3; }
        .page-contents .blog .post .post-images > img:not(:first-child) {
          max-height: 10rem; }
      .page-contents .blog .post .post-info {
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%; }
        .page-contents .blog .post .post-info .title {
          align-self: flex-end;
          background: white;
          color: black;
          font-size: 1.3rem;
          justify-self: flex-end;
          max-width: 80%;
          padding: 0.5rem;
          text-align: left; }
      .page-contents .blog .post:hover .post-info {
        opacity: 1; }
      @media screen and (min-width: 0) {
        .page-contents .blog .post {
          width: 100vw; } }
      @media screen and (min-width: 37.5rem) {
        .page-contents .blog .post {
          width: 49vw; } }
      @media screen and (min-width: 75rem) {
        .page-contents .blog .post {
          width: 32vw; } }
      @media screen and (min-width: 112.5rem) {
        .page-contents .blog .post {
          width: 24vw; } }
      @media screen and (min-width: 150rem) {
        .page-contents .blog .post {
          width: 19vw; } }
      @media screen and (min-width: 187.5rem) {
        .page-contents .blog .post {
          width: 35rem; } }

.featherlight .featherlight-content {
  overflow: visible;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0; }
  .featherlight .featherlight-content .featherlight-close {
    position: absolute;
    height: 7.5rem;
    width: 7.5rem;
    font-size: 7.5rem;
    font-weight: 100;
    top: -3rem;
    background: rgba(255, 255, 255, 0.75); }
    .featherlight .featherlight-content .featherlight-close:hover {
      background: white; }
  .featherlight .featherlight-content .lightbox-images {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100vw; }
    .featherlight .featherlight-content .lightbox-images .dummy-slide {
      width: 11rem; }
    .featherlight .featherlight-content .lightbox-images .photo-wrapper {
      display: inline-block;
      margin: 0;
      padding: 0;
      position: relative; }
      .featherlight .featherlight-content .lightbox-images .photo-wrapper.next-image, .featherlight .featherlight-content .lightbox-images .photo-wrapper.prev-image {
        cursor: pointer;
        opacity: 0.95;
        overflow: hidden;
        position: relative;
        width: 11rem; }
        .featherlight .featherlight-content .lightbox-images .photo-wrapper.next-image .content, .featherlight .featherlight-content .lightbox-images .photo-wrapper.prev-image .content {
          display: none; }
      .featherlight .featherlight-content .lightbox-images .photo-wrapper .photo {
        border-radius: 0.3rem;
        max-height: calc(100vh - 6rem);
        max-width: calc(100vw - 6rem); }
      .featherlight .featherlight-content .lightbox-images .photo-wrapper .content {
        background: rgba(255, 255, 255, 0.8);
        bottom: 0.3rem;
        left: 0;
        opacity: 0.2;
        padding: 0 2rem 2rem;
        right: 0;
        transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        position: absolute; }
        .featherlight .featherlight-content .lightbox-images .photo-wrapper .content a {
          color: black; }
        .featherlight .featherlight-content .lightbox-images .photo-wrapper .content:hover {
          opacity: 1; }
