.home-container {
  display: flex;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  min-height: 80rem;
  min-width: 90rem;
  place-content: center;
  place-items: center; }
  .home-container .menu {
    display: flex;
    height: 60rem;
    place-content: center;
    place-items: center;
    position: relative;
    width: 60rem; }
    .home-container .menu::before {
      background: url("/images/mums_pattern.gif") no-repeat center -5rem/120%;
      -webkit-clip-path: polygon(30rem 0, 56rem 15.1rem, 56rem 45.1rem, 30rem 60rem, 4rem 45.1rem, 4rem 15.1rem);
      clip-path: polygon(30rem 0, 56rem 15.1rem, 56rem 45.1rem, 30rem 60rem, 4rem 45.1rem, 4rem 15.1rem);
      content: '';
      display: inline-block;
      height: 60rem;
      position: absolute;
      width: 60rem; }
  .home-container .name {
    position: relative;
    width: 50rem; }
  .home-container .menu-item {
    color: #08003d;
    display: flex;
    flex: 0 0;
    font-size: 1.8rem;
    height: 15rem;
    place-content: center;
    place-items: center;
    position: absolute;
    text-decoration: none;
    text-shadow: 0 00.5rem white, 0 00.5rem white, 0 00.5rem white;
    text-transform: uppercase;
    width: 15rem; }
    .home-container .menu-item span {
      position: absolute;
      transition: text-shadow 1s cubic-bezier(0.4, 0, 0.2, 1); }
    .home-container .menu-item::before {
      clip-path: polygon(7.5rem 0, 14rem 3.7rem, 14rem 11.3rem, 7.5rem 15rem, 1rem 11.3rem, 1rem 3.7rem);
      -webkit-clip-path: polygon(7.5rem 0, 14rem 3.7rem, 14rem 11.3rem, 7.5rem 15rem, 1rem 11.3rem, 1rem 3.7rem);
      content: '';
      display: inline-block;
      height: 15rem;
      opacity: 0;
      position: absolute;
      transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
      width: 15rem; }
    .home-container .menu-item:hover::before {
      opacity: 1; }
    .home-container .menu-item:hover span {
      text-shadow: 0 00.5rem white, 0 00.5rem white, 0 00.5rem white, 0 00.5rem white, 0 00.5rem white; }
    .home-container .menu-item.about {
      left: 22.5rem;
      top: -7.5rem; }
      .home-container .menu-item.about::before {
        background: url("/images/mums.gif") no-repeat center center/cover; }
    .home-container .menu-item.illustration {
      right: -3.5rem;
      top: 7.6rem; }
      .home-container .menu-item.illustration::before {
        background: url("/images/woven_pattern.gif") no-repeat center center/cover; }
    .home-container .menu-item.collabs {
      bottom: 7.6rem;
      right: -3.5rem; }
    .home-container .menu-item.comics {
      bottom: -7.5rem;
      left: 22.5rem; }
    .home-container .menu-item.paperwork {
      bottom: 7.6rem;
      left: -3.5rem; }
    .home-container .menu-item.contact {
      left: -3.5rem;
      top: 7.6rem; }
