@import url('https://fonts.googleapis.com/css?family=Poppins:500');

@import "variables/variables";

@import "variables/open-color";

html,
body {
  color: $oc-gray-9;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

#hex-svg {
  display: block;
}
