@import url("https://fonts.googleapis.com/css?family=Poppins:500");
body,
html {
  margin: 0;
  padding: 0; }
  body .home-container,
  html .home-container {
    display: flex;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    min-height: 800px;
    min-width: 900px;
    place-content: center;
    place-items: center; }
    body .home-container .menu,
    html .home-container .menu {
      height: 600px;
      position: relative;
      width: 600px; }
      body .home-container .menu::before,
      html .home-container .menu::before {
        background: url("/images/mums_pattern.gif") no-repeat center -50px/120%;
        -webkit-clip-path: polygon(300px 0, 560px 151px, 560px 451px, 300px 600px, 40px 451px, 40px 151px);
        clip-path: polygon(300px 0, 560px 151px, 560px 451px, 300px 600px, 40px 451px, 40px 151px);
        content: '';
        display: inline-block;
        height: 600px;
        position: relative;
        width: 600px; }
    body .home-container .menu-item,
    html .home-container .menu-item {
      color: black;
      display: flex;
      flex: 0 0;
      font-size: 1.15em;
      height: 150px;
      place-content: center;
      place-items: center;
      position: absolute;
      text-decoration: none;
      text-transform: uppercase;
      width: 150px; }
      body .home-container .menu-item span,
      html .home-container .menu-item span {
        position: absolute; }
      body .home-container .menu-item::before,
      html .home-container .menu-item::before {
        clip-path: polygon(75px 0, 140px 37px, 140px 113px, 75px 150px, 10px 113px, 10px 37px);
        -webkit-clip-path: polygon(75px 0, 140px 37px, 140px 113px, 75px 150px, 10px 113px, 10px 37px);
        content: '';
        display: inline-block;
        height: 150px;
        opacity: 0;
        transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
        width: 150px;
        position: absolute; }
      body .home-container .menu-item:hover,
      html .home-container .menu-item:hover {
        color: black; }
        body .home-container .menu-item:hover::before,
        html .home-container .menu-item:hover::before {
          opacity: 1; }
        body .home-container .menu-item:hover span,
        html .home-container .menu-item:hover span {
          text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white; }
      body .home-container .menu-item.about,
      html .home-container .menu-item.about {
        left: 225px;
        top: -75px; }
        body .home-container .menu-item.about::before,
        html .home-container .menu-item.about::before {
          background: url("/images/mums.gif") no-repeat center center/cover; }
      body .home-container .menu-item.collabs,
      html .home-container .menu-item.collabs {
        right: -35px;
        top: 76px; }
        body .home-container .menu-item.collabs::before,
        html .home-container .menu-item.collabs::before {
          background: url("/images/woven_pattern.gif") no-repeat center center/cover; }
      body .home-container .menu-item.illustration,
      html .home-container .menu-item.illustration {
        bottom: 76px;
        right: -35px; }
      body .home-container .menu-item.comics,
      html .home-container .menu-item.comics {
        bottom: -75px;
        left: 225px; }
      body .home-container .menu-item.contact,
      html .home-container .menu-item.contact {
        bottom: 76px;
        left: -35px; }
      body .home-container .menu-item.paperwork,
      html .home-container .menu-item.paperwork {
        left: -35px;
        top: 76px; }

#header {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase; }
  #header .mini-menu {
    fill: orange;
    position: fixed;
    right: 20px;
    top: 20px; }
    #header .mini-menu:hover .menu-items {
      opacity: 1; }
    #header .mini-menu .menu-items {
      list-style: none;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1); }
      #header .mini-menu .menu-items:hover {
        opacity: 1; }
      #header .mini-menu .menu-items .menu-item {
        border-bottom: 0;
        display: flex;
        min-height: 40px;
        min-width: 150px;
        font-size: 1.3em; }
        #header .mini-menu .menu-items .menu-item a {
          background: transparent;
          color: black;
          flex: 1;
          padding: 10px;
          text-align: right;
          text-decoration: none; }
        #header .mini-menu .menu-items .menu-item.home:hover {
          background: orange; }
        #header .mini-menu .menu-items .menu-item.about:hover {
          background: blue; }
        #header .mini-menu .menu-items .menu-item.collabs:hover {
          background: green; }
        #header .mini-menu .menu-items .menu-item.illustration:hover {
          background: purple; }
        #header .mini-menu .menu-items .menu-item.comics:hover {
          background: orange; }
        #header .mini-menu .menu-items .menu-item.paperwork:hover {
          background: orchid; }
        #header .mini-menu .menu-items .menu-item.contact:hover {
          background: orangered; }

.page-contents {
  margin: 0 auto;
  width: calc(100vw - 80px); }
  .page-contents .blog {
    column-count: 4; }
    .page-contents .blog .post {
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline; }
      .page-contents .blog .post img {
        width: 100%; }
      .page-contents .blog .post .post-info {
        position: absolute; }
