html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

body,
html {
  margin: 0;
  padding: 0; }
  body .home-container,
  html .home-container {
    display: flex;
    height: 100vh;
    min-height: 800px;
    min-width: 900px;
    place-content: center;
    place-items: center; }
    body .home-container .menu,
    html .home-container .menu {
      background-image: url("/images/define-skull-pattern.png");
      clip-path: polygon(375px 0, 700px 188px, 700px 563px, 375px 750px, 50px 563px, 50px 188px);
      -webkit-clip-path: polygon(375px 0, 700px 188px, 700px 563px, 375px 750px, 50px 563px, 50px 188px);
      height: 750px;
      position: relative;
      width: 750px; }
    body .home-container .menu-item,
    html .home-container .menu-item {
      background-image: url("/images/Riga-pattern.jpg");
      clip-path: polygon(75px 0, 140px 37px, 140px 113px, 75px 150px, 10px 113px, 10px 37px);
      -webkit-clip-path: polygon(75px 0, 140px 37px, 140px 113px, 75px 150px, 10px 113px, 10px 37px);
      flex: 0 0;
      height: 150px;
      opacity: 0.5;
      position: absolute;
      transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
      width: 150px; }
      body .home-container .menu-item p,
      html .home-container .menu-item p {
        color: red;
        font-size: 1.2em;
        position: absolute;
        text-align: center;
        top: 50px;
        width: 100%; }
      body .home-container .menu-item:hover,
      html .home-container .menu-item:hover {
        opacity: 1; }
      body .home-container .menu-item.about,
      html .home-container .menu-item.about {
        left: 300px;
        top: 0; }
      body .home-container .menu-item.collabs,
      html .home-container .menu-item.collabs {
        right: 40px;
        top: 150px; }
      body .home-container .menu-item.illustration,
      html .home-container .menu-item.illustration {
        bottom: 150px;
        right: 40px; }
      body .home-container .menu-item.comics,
      html .home-container .menu-item.comics {
        bottom: 0;
        left: 300px; }
      body .home-container .menu-item.paperwork,
      html .home-container .menu-item.paperwork {
        left: 40px;
        top: 150px; }
      body .home-container .menu-item.contact,
      html .home-container .menu-item.contact {
        bottom: 150px;
        left: 40px; }

#header .mini-menu {
  fill: orange;
  position: fixed;
  right: 20px;
  top: 20px; }
  #header .mini-menu:hover .menu-items {
    opacity: 1; }
  #header .mini-menu .menu-items {
    list-style: none;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1); }
    #header .mini-menu .menu-items:hover {
      opacity: 1; }
    #header .mini-menu .menu-items .menu-item {
      border: 1px solid black;
      border-bottom: 0;
      display: flex;
      min-height: 40px;
      min-width: 150px;
      font-size: 1.3em; }
      #header .mini-menu .menu-items .menu-item a {
        color: white;
        text-decoration: none;
        flex: 1;
        text-align: right;
        padding: 10px; }
      #header .mini-menu .menu-items .menu-item:last-child {
        border-bottom: 1px solid black; }
      #header .mini-menu .menu-items .menu-item.home {
        background: orange; }
      #header .mini-menu .menu-items .menu-item.about {
        background: blue; }
      #header .mini-menu .menu-items .menu-item.collabs {
        background: green; }
      #header .mini-menu .menu-items .menu-item.illustration {
        background: purple; }
      #header .mini-menu .menu-items .menu-item.comics {
        background: orange; }
      #header .mini-menu .menu-items .menu-item.paperwork {
        background: orchid; }
      #header .mini-menu .menu-items .menu-item.contact {
        background: orangered; }
